<% if @view_in_config && @erb_code %>
<%= render inline: @erb_code %>
<% else %>

<div id="main_body">
<p><%=t('Project')%>=<%=@project.name if @project %></p>
<%= form_tag copy_results_onboard_engine_configs_path, :method => :get do %>
<table class="table table-striped">
  <tr>
  	 <th></th>
     <th><%= t('Project Name') %></th>
     <th><%= t('Release') %></th>
     <th><%= t('Create At') %></th>
     <th><%= t('Project Desp') %></th>
  </tr>

<% @from_projects.each do |r| %>
  <% releases = OnboardDatax.project_misc_definition_class.where('definition_category = ? AND project_id = ?', 'release', r.id).order('id DESC').each do |rel| %>     
    <tr>
      <td><%= radio_button_tag 'single_id', [r.id, rel.id].join(',') %></td>
      <td><%= r.name %></td>
      <td><%= rel.name %></td>
      <td><%= r.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= r.project_desp[0..60] if r.project_desp %></td>
    </tr>
  <% end %>
<% end %>
   <table class="table table-striped">
	  <tr>
	    <th>
  		  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  		  <%= submit_tag t('Save') ,:name => "save[#{@project.id}]", :class => BUTTONS_CLS['action'] %>
  	    </th>
	  </tr>
	</table> 

<% end %>
</div>

<% end %>
