<% if @view_in_config && @erb_code %>
<%= render inline: ERB.new(@erb_code).result(binding) %>
<% else %>

<div id="main_body">
<h1><%=@title %></h1>
<p><%=t('Project')%>=<%=@project.name if @project %></p>
<%=t('# of records')%>=<%=models.count if models %>
<div class="pagination"><%= will_paginate models %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%=t('Engine Name')%></th>
    <th><%=t('Engine Version')%></th>
    <th><%=t('Init Desp')%></th>
    <th><%=t('File Name')%></th>
    <th><%=t('Init Code')%></th>
    <th><%=t('Release')%></th>    
    <th><%=t('Created At')%></th>
    <th><%=t('Last Updated By')%></th> 
    <th></th>
 
  </tr>

<% models.each do |r| %>
  <tr>
  	<% base_config = OnboardDatax.engine_init_class.find_by_id(OnboardDatax::OnboardEngineInit.find_by_id(r.id).engine_init_id) %>
  	<% engine=OnboardDatax.engine_class.find_by_id(r.engine_id) %>
  	<td><%= link_to r.id.to_s, SUBURI + "/view_handler?index=1&url=#{onboard_engine_init_path(r)}"  %></td> 
  	<td><%= engine.name %></td>
  	<td><%= engine.version %></td>
  	<td><%= base_config.init_desp %></td>	
    <td><%= base_config.file_name %></td>   
    <td><%= base_config.init_code %></td>   
    <td><%= r.release.name if r.release_id.present? %></td>	
    <td><%= r.created_at.strftime('%Y/%m/%d') %></td>
  	<td><%= r.last_updated_by.name %></td> 
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_onboard_engine_init_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>

  </tr>
<% end %>
   <table class="table table-striped">
	  <tr>
	    <th>
  		  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  		 &nbsp;
  		 <%= link_to t('New Onboard Engine Init'), SUBURI + "/view_handler?index=1&url=#{CGI.escape new_onboard_engine_init_path(:engine_init_id => @engine_init.id, :project_id => @project.id, :engine_id => @engine.id)}", :class => BUTTONS_CLS['action'] if @engine_init && @project && @engine && has_action_right?('create', params[:controller]) %>
        </th>
	  </tr>
	</table> 
</div>

<% end %>
