<% if @view_in_config && @erb_code %>
  <%= render inline: @erb_code, locals: {models: models} %>
<% else %>

<div id="main_body">
<h1><%=@title %></h1>
<p><%=t('Project')%>=<%=@project.name if @project %></p>
<%=t('# of records')%>=<%=models.count if models %>
<div class="pagination"><%= will_paginate models unless @csv %></div>
<table class="table table-striped">
	<%= form_tag onboard_search_stat_configs_path(format: "csv", :project_id => @project.id), method: :get do %>
	   <% releases = OnboardDatax.project_misc_definition_class.where('definition_category = ? AND project_id = ?', 'release', @project.id).order('id DESC')%>
       <%= label_tag(:from_release, "Release") %>
       <%= select_tag(:from_release, options_for_select(releases.select('id, name').map{|r| [r.name, r.id]})) %>
  
	  <%= submit_tag 'CSV' %>
    <% end if @project %>
  <tr>
    <th>#</th>
    <th><%=t('Resource Name')%></th>
    <th><%=t('Release')%></th>
    <th><%=t('Stat Function')%></th>    
    <th><%=t('Stat Summary Function')%></th>
    <th><%=t('Labels & Fields')%></th>
    <th><%=t('Time Frame')%></th>
    <th><%=t('Search List Form')%></th>
    <th><%=t('Search Where')%></th>
    <th><%=t('Search Result Period Limit')%></th>   
    <th><%=t('Last Updated By')%></th>
    <th><%=t('Brief Note')%></th>
    <th><%=t('Created At')%></th>
    <th><%=t('Updated At')%></th>
    <th><%=t('Stat Header')%></th>     
    <th><%=t('Search Params')%></th>
    <th><%=t('Search Summary Function')%></th>
    <th></th>
 
  </tr>

<% models.each do |r| %>
  <tr>
  	<% base_config = OnboardDatax.search_stat_config_class.find_by_id(OnboardDatax::OnboardSearchStatConfig.find_by_id(r.id).search_stat_config_id) %>
  	<% engine=OnboardDatax.engine_class.find_by_id(r.engine_id) %>
  	<td><%= link_to r.id.to_s, SUBURI + "/view_handler?index=1&url=#{onboard_search_stat_config_path(r)}"  %></td> 
  	<td><%= r.release.name if r.release_id.present? %></td>	
    <td><%= base_config.resource_name %></td>
  	<td><%= base_config.stat_function %></td>	
    <td><%= r.custom_stat_summary_function.present? ? r.custom_stat_summary_function[0..5] : base_config.stat_summary_function[0..5] %></td>
    <td><%= base_config.labels_and_fields %></td>	
    <td><%= base_config.time_frame %></td>	
    <td><%= base_config.search_list_form %></td>	
    <td><%= base_config.search_where %></td>	
    <td><%= base_config.search_results_period_limit %></td>	
    <td><%= r.last_updated_by.name %></td> 
    <td><%= base_config.brief_note  %></td>
    <td><%= r.created_at %></td>
  	<td><%= r.updated_at %></td>
  	<td><%= r.custom_stat_header.present? ? r.custom_stat_header[0.5] : base_config.stat_header[0..5] %></td>
    <td><%= base_config.search_params[0..5]  %></td>
    <td><%= r.custom_search_summary_function.present? ? r.custom_search_summary_function[0..5] : base_config.search_summary_function[0..5] %></td>
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_onboard_search_stat_config_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>

  </tr>
<% end %>
   <table class="table table-striped">
	  <tr>
	    <th>
  		  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('Copy'), SUBURI + "/authentify/view_handler?index=1&url=#{copy_onboard_search_stat_configs_path(project_id: @project.id)}", :class => BUTTONS_CLS['action'] if @project && has_action_right?('copy', params[:controller]) %>
  		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('New Onboard Search/Stat Config'), SUBURI + "/view_handler?index=1&url=#{CGI.escape new_onboard_search_stat_config_path(:search_stat_config_id => @search_stat_config.id, :project_id => @project.id, :engine_id => @engine.id)}", :class => BUTTONS_CLS['action'] if @search_stat_config && @project && @engine && has_action_right?('create', params[:controller]) %>
        </th>
	  </tr>
	</table> 
</div>

<% end %>
