<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div id="main_body">

<h1><%=@title %></h1>

<p>
  <b><%=t('Submit Date')%></b>
  <%= @onboard_search_stat_config.created_at.strftime('%Y/%m/%d') %>
</p>
<p>
  <b><%=t('Project Name')%></b>
  <%= @project.name %>
</p>
<p>
  <b><%=t('Release')%></b>
  <%= @onboard_search_stat_config.release.name if @onboard_search_stat_config.release_id.present? %>
</p>
<p>
  <b><%=t('Engine Name')%></b>
  <%= @engine.name %>
</p>
<p>
  <b><%=t('Config Desp') %></b>
  <%= @search_stat_config.config_desp %>
</p>
<p>
  <b><%=t('Resource Name') %></b>
  <%= @search_stat_config.resource_name %>
</p>
<p>
  <b><%=t('Labels/Fields') %></b>
  <%= @search_stat_config.labels_and_fields %>
</p>
<p>
  <b><%=t('Search Where') %></b>
  <%= @search_stat_config.search_where %>
</p>
<p>
  <b><%=t('Stat Function') %></b>
  <%= @search_stat_config.stat_function %>
</p>
<p>
  <b><%=t('Search Summary Function') %></b>
  <%= @search_stat_config.search_summary_function %>
</p>
<p>
  <b><%=t('Custom Search Summary Function') %></b>
  <%= @onboard_search_stat_config.custom_search_summary_function %>
</p>
<p>
  <b><%=t('Stat Summary Function') %></b>
  <%= @search_stat_config.stat_summary_function %>
</p>
<p>
  <b><%=t('Custom Stat Summary Function') %></b>
  <%= @onboard_search_stat_config.custom_stat_summary_function %>
</p>
<p>
  <b><%=t('Stat Header') %></b>
  <%= @search_stat_config.stat_header %>
</p>
<p>
  <b><%=t('Custom Stat Header') %></b>
  <%= @onboard_search_stat_config.custom_stat_header %>
</p>
<p>
  <b><%=t('Time Frame') %></b>
  <%= @search_stat_config.time_frame %>
</p>
<p>
  <b><%=t('List Form Name') %></b>
  <%= @search_stat_config.search_list_form %>
</p>
<p>
  <b><%=t('Search Results Period SQL') %></b>
  <%= @search_stat_config.search_results_period_limit %>
</p>
<p>
  <b><%=t('Search Params') %></b>
  <%= @search_stat_config.search_params %>
</p>

<p>
  <b><%= t('Last Updated By') %></b>
  <%= @onboard_search_stat_config.last_updated_by.name if @onboard_search_stat_config.last_updated_by_id.present? %>
</p>

   <table class="table table-striped">
	  <tr>
	    <th>
          <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('Delete'), onboard_search_stat_config_path(@onboard_search_stat_config), :method => :delete, :confirm => I18n.t('Delete the record?'), :class => BUTTONS_CLS['action'] if has_action_right?('destroy', params[:controller], @onboard_search_stat_config) %>
   		</th>
	  </tr>
	</table> 
</div>

<% end %>
