<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div id="main_body">

<h1><%=@title %></h1>
<p>
  <b><%=t('Submit Date')%></b>
  <%= @onboard_user_access.created_at.strftime('%Y/%m/%d') %>
</p>
<p>
  <b><%=t('Project Name')%></b>
  <%= @project.name %>
</p>
<p>
  <b><%=t('Engine Name')%></b>
  <%= @engine.name %>
</p>
<p>
  <b><%=t('Access Desp') %></b>
  <%= @user_access.access_desp %>
</p>
<p>
  <b><%=t('Action') %></b>
  <%= @user_access.action %>
</p>
<p>
  <b><%=t('Resource') %></b>
  <%= @user_access.resource %>
</p>
<p>
  <b><%=t('SQL Code') %></b>
  <%= @user_access.sql_code %>
</p>
<p>
  <b><%=t('Role Definition') %></b>
  <%= @onboard_user_access.role_definition.name if @onboard_user_access.role_definition_id.present? %>
</p>
<p>
  <b><%=t('Masked Attrs') %></b>
  <%= @user_access.masked_attrs %>
</p>
<p>
  <b><%=t('Rank') %></b>
  <%= @user_access.rank %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @onboard_user_access.last_updated_by.name if @onboard_user_access.last_updated_by_id.present? %>
</p>

   <table class="table table-striped">
	  <tr>
	    <th>
          <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('Delete'), onboard_user_access_path(@onboard_user_access), :method => :delete, :confirm => I18n.t('Delete the record?'), :confirm => I18n.t('Delete the record?'), :class => BUTTONS_CLS['action'] if has_action_right?('destroy', params[:controller], @onboard_user_access) %>
   		</th>
	  </tr>
	</table> 
</div>

<% end %>
